{% extends 'base.html.twig' %}
{% block stylesheets %} 
    <link href="{{ asset('style/normalize.css') }}" rel="stylesheet" type="text/css"/>    
    <link href="{{ asset('style/style.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('style/admin.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block content %}
    <main class="productsMain">
        <h2 class="productsTitle">Tous nos Produits</h2>
        {% for product in ourProducts %}
            <article class="cloudCard">
                    <img src="uploads/{{ product.thumbnail }}" alt="nuage" class="cloudThumbnail">
                    <div class="containerNameCloud">
                        <div class="containerNameCloudDetail">
                            <h3>{{ product.name }}</h3>
                            <p id="cloudPrice">{{ product.price }}€</p>
                            <p id="cloudDescription">{{ product.description }}€</p>
                        </div>
                        <a href="/products/{{ product.id }}" class="rentLink"><button class="rentButton">Louer</button></a>
                    </div>

            </article>
        {% endfor %}
    </main>
{% endblock %}