{% extends 'base.html.twig' %}

{% block stylesheets %} 
    <link href="{{ asset('style/normalize.css') }}" rel="stylesheet" type="text/css"/>    
    <link href="{{ asset('style/style.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('style/admin.css') }}" rel="stylesheet" type="text/css"/> 
{% endblock %}

{% block content %}
    <main>
        <div class="createProductTitle">
            <h2>Tous nos Produits</h2>
            <div>
                <a href="/admin/create">
                    <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24"><g fill="lightgreen" fill-rule="evenodd" clip-rule="evenodd">
                        <path d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12Zm10-8a8 8 0 1 0 0 16a8 8 0 0 0 0-16Z"/>
                        <path d="M13 7a1 1 0 1 0-2 0v4H7a1 1 0 1 0 0 2h4v4a1 1 0 1 0 2 0v-4h4a1 1 0 1 0 0-2h-4V7Z"/></g>
                    </svg>
                </a>
            </div>
        </div>
        <section class="productsMain">
        {% for product in ourProducts %}
            <article class="cloudCard">
                    <img src="../uploads/{{ product.thumbnail }}" alt="nuage" class="cloudThumbnail">
                    <div class="containerNameCloud">
                        <div class="containerNameCloudDetail">
                            <p>{{ product.name }}</p>
                            <p>{{ product.price }}€</p>
                        </div>
                        <div class="productCRUD">
                            <a href="/admin/edit/{{ product.id }}" class="editButton">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
                                    <path fill="currentColor" d="M10.443 1.56a1.914 1.914 0 0 0-2.707 0l-.55.551a.506.506 0 0 0-.075.074l-5.46 5.461a.5.5 0 0 0-.137.255l-.504 2.5a.5.5 0 0 0 .588.59l2.504-.5a.5.5 0 0 0 .255-.137l6.086-6.086a1.914 1.914 0 0 0 0-2.707ZM7.502 3.21l1.293 1.293L3.757 9.54l-1.618.324l.325-1.616L7.502 3.21Zm2 .586L8.209 2.502l.234-.234A.914.914 0 1 1 9.736 3.56l-.234.234Z"/>
                                </svg>
                            </a>
                            <a href="/admin/remove/{{ product.id }}" class="removeButton">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
                                    <path fill="currentColor" d="M12 3c-4.963 0-9 4.038-9 9s4.037 9 9 9s9-4.038 9-9s-4.037-9-9-9zm0 16c-3.859 0-7-3.14-7-7s3.141-7 7-7s7 3.14 7 7s-3.141 7-7 7zm.707-7l2.646-2.646a.502.502 0 0 0 0-.707a.502.502 0 0 0-.707 0L12 11.293L9.354 8.646a.5.5 0 0 0-.707.707L11.293 12l-2.646 2.646a.5.5 0 0 0 .707.708L12 12.707l2.646 2.646a.5.5 0 1 0 .708-.706L12.707 12z"/>
                                </svg>
                            </a>
                        </div>
                    </div>
            </article>
        {% endfor %}
        </section>
    </main>
{% endblock %}